@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap');

/* Geral */
* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #e4ca00, #d50303);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.clock div {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    width: 150px;
    height: 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}

.clock span {
    font-weight: bolder;
    font-size: 60px;
}

.clock span.time {
    font-size: 12.5px;
}