@import url('media-queries.css');

@font-face {
  font-family: "Digital";
  src: url("../fonts/ds-digital.ttf") format("truetype");
}

/* Geral */
* {
  font-family: "Digital", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Relógio */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c2c7c1;
  border-radius: 40px;
  max-width: 100vw;
  max-height: 100vh;
  margin: 2rem;
  border: 1rem solid #212121;
}

.clock-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1.5rem;
}

#minutes::before, #minutes::after {
  content: ':';
}

.clock .time {
  background-color: transparent;
  color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.5rem;
  min-width: 10rem;
}
