@font-face {
  font-family: "Digital";
  src: url("../fonts/ds-digital.ttf") format("truetype");
}

/* Geral */
* {
  font-family: "Digital", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color:#020202;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Relógio */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container {
  display: flex;
  justify-content: space-around;
  height: 12.5rem;
  width: 37.5rem;
  background: #010101;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.9), 2px 2px 20px 5px rgba(255, 255, 255, 0.1);
}

.clock .time {
  background-color: transparent;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.5rem;
  min-width: 12rem;
}

.clock p.colons {
  font-size: 8rem;
  text-align: center;
}